{% extends "rakesh/layout.html" %}
{% load static %}
{% block body %}

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>{{ web_content.resume_summary}}</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>{{ web_content.my_name}}</h4>
            <p><em>{{ web_content.about_headline}}</em></p>
            <p>
{#            <ul>#}
{#              <li>Portland par 127,Orlando, FL</li>#}
{#              <li>(123) 456-7891</li>#}
{#              <li>alice.barkley@example.com</li>#}
{#            </ul>#}
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>{{ web_content.education1_name}}</h4>
            <h5>{{ web_content.education1_year}}</h5>
            <p><em> {{ web_content.education1_univ_name}}</em></p>
            <p>{{ web_content.education1_board}}</p>
          </div>
          <div class="resume-item">
            <h4>{{ web_content.education2_name}}</h4>
            <h5>{{ web_content.education1_year}}</h5>
            <p><em>{{ web_content.education1_univ_name}}</em></p>
            <p>{{ web_content.education1_board}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>{{ web_content.exp1_profile}}</h4>
            <h5>{{ web_content.exp1_duration}}</h5>
            <p><em>{{ web_content.exp1_company}} </em></p>
            <p>
            <ul>
              <li>{{ web_content.exp1_role1}}</li>
              <li>{{ web_content.exp1_role2}} </li>
              <li>{{ web_content.exp1_role3}}.</li>
              <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{{ web_content.exp2_profile}}</h4>
            <h5>{{ web_content.exp2_duration}}</h5>
            <p><em>{{ web_content.exp2_company}}</em></p>
            <p>
            <ul>
              <li>{{ web_content.exp2_role1}}</li>
              <li>{{ web_content.exp2_role2}}</li>
              <li>{{ web_content.exp2_role3}}</li>
            </ul>
            </p>

          </div>
            {% if web_content.exp3_profile is not None %}
            <div class="resume-item">
            <h4>{{ web_content.exp3_profile}}</h4>
            <h5>{{ web_content.exp3_duration}}</h5>
            <p><em>{{ web_content.exp3_company}}</em></p>
            <p>
            <ul>
              <li>{{ web_content.exp3_role1}}</li>
              <li>{{ web_content.exp3_role2}}</li>
              <li>{{ web_content.exp3_role3}}</li>
            </ul>
            </p>
            {% endif %}


        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->

{% endblock %}